.App {
  text-align: center;
}

.row-container {
  display: flex;
  list-style-type:none;
  justify-content:flex-end;
  align-items: center;
}

.torrent-feed {
  display: flex;
  align-items: stretch;
}